[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Live Installer
GenericName=Live Installer
Comment=Install live system to hard drive
Exec=kdesu /usr/bin/respin-installer gui
Icon=/usr/share/pixmaps/respin-installer.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System
OnlyShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=System Backup
Name[en_US]=respin-installer-kde.desktop
